{% extends 'core/base.html' %}
{% load static %}

{% block content %}  
    <div class="mt-5 ">
        <div class="text-center">
            <img src="{% static 'core/images/bams.jpg' %}" alt="ProfilePic" class="img-thumbnail" 
            width="250px" height="150px">
        </div>

        <div class="text-dark mt-5 mx-5 text-justify mt-5">
            <h1 class="font-weight-bold st-font">Hello,</h1>
            
            <div class="px-4" style="line-height:2rem;">
                <p  style="text-indent:100px"> I'm <b class="text-warning">Irstenn B.N.</b> having Bachelor and Master degrees 
                    in Software and administration of informations system including database administration. I'm also a Python web developer 
                    and also full skills in other programming language. I have 6 months of full-stack web development experience
                    for global business, I offer the technical expertise you're seeking for your web developer position.
                </p>
                <p>
                    Since earing my Bachelor's degree from Radioengineerng university situated in the city of Ryazan 
                    in Russian federation, i have served as a <b class="text-warning">Junior Python web  developer </b> in the department of sofware and databse administration.
                    I detained also many certificate in developement due to my programming skills and also participated in scientific conference 
                    in Europe as an author in Artificial Intelligency
                </p>
            </div>
        </div>

        <!-- bouttons Hire Me & contacte -->
        <div class="text-center">
            <a href="" class="btn btn-outline-warning my-3 mr-5">Hire Me </a>
            <a href="" class="btn btn-outline-info my-3">Contact</a>
        </div>
    </div>
{% endblock content %}