/* Font */
.st-font{
    font-family: 'Satisfy';
}

html,body{
    height: 100%;
}
.container-fluid{
    min-height: 100%;
}

/* Services Icon Color */
.i-color{
    color: yellowgreen;
}

/* Services subtitile */
.ss-color{
    color: red;
}

/* pour navabr une fois le clic sur home,services,skill et contact */
a.nav-link{
    color: yellow;
}
a.nav-link:hover{
    color: blue;
    background-color: #3e21c2;
}
a.nav-link.active{
    color: blue;
    background-color: blue;
    font-weight: bold;
}